<body>
	<div class="container marketing">
		<div class="centerdiv">

			{{#if user}}
				{{#if message}}
					<div class="centertext">
						{{message}}</br>
						Click <a href="/user">here</a> to manage your preferences.
					</div>
				{{else}}
					<img class="img-circle" src={{imgPath}} width=300px height=300px>
					
					<div class="center">
						<div class="centertext"><h2 class="featurette-heading">{{food.name}}</h2>
							${{food.price}}<br>
							{{food.type}}<br>
							Rating: {{food.rating}}/5<br>
							Number of Ratings: {{food.numRatings}}<br>
							Number of Views: {{food.numViews}}<br>
							Number of Orders: {{food.numOrders}}<br>
							Restaurant: {{food.restaurant}}<br>
						</div>

						<button id='randomButton' class= "btn btn-info" style="display:inline" name="randomButton">Randomnize</button>
						<button id='similarButton' class= "btn btn-info" style="display:inline" name="similarButton" value={{food.type}}>Similar</button>
						<button id='orderButton' class= "btn btn-success" style="display:inline" name="orderButton" value={{food}}>Order Now</button>
					</div>
				{{/if}}

			{{else}}
				<div class="centertext">
					Please log in or register first.
				</div>
			{{/if}}
		</div>
	</div>
</body>